[submodule "Plugins/OpenMPT.NET"]
	path = Plugins/OpenMPT.NET
	url = https://github.com/aquagoose/OpenMPT.NET
[submodule "empress"]
	path = empress
	url = https://github.com/aquagoose/empress
[submodule "Slant.NET"]
	path = Slant.NET
	url = https://github.com/aquagoose/Slant.NET
