#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Glimpse
GenericName=Music Player
Comment=The free, fast, and extensible music player.
Path=~/.local/share/Glimpse
Exec=~/.local/share/Glimpse/Glimpse
Icon=Glimpse
Terminal=false
Categories=Audio

